* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.8em Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
}

form #button {
  color: #FFF;
  background: #2D9F0B;
  border: none;
  padding: 10px;
  width: 9%;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.6em;
}

#messages li {
  padding: 5px 10px;
}
#messages li:first-child {
  margin-top: 10px;
}
#messages li:nth-child(odd) {
  background: #f4f4f4;
  border-radius: 0 30px 30px 0;
  border: 1px solid #cccc;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 255, 0.2);
  margin-bottom: 5px;
}
#messages li:nth-child(even) {
  background: #ffffff;
  border-radius: 30px 0 0 30px;
  border: 1px solid #cccc;
  box-shadow: 0px 0px 10px 2px rgba(0, 255, 115, 0.486);
  margin-bottom: 5px;
}
@font-face {
  font-family: "font-awesome";
  src: url("../node_modules/font-awesome/fonts/fontawesome-webfont.woff2") format("woff2"),
       url("../node_modules/font-awesome/fonts/fontawesome-webfont.woff") format("woff"),
       url("../node_modules/font-awesome/fonts/fontawesome-webfont.ttf") format("ttf");
}
#messages li .Me::before{
  font-family: "font-awesome";
  content: "\f007";
  color:#666;
  font-size: 0.6em;
  margin-right: 5px;
}
#messages li .Others::before{
  font-family: "font-awesome";
  content: "\f0c0";
  color:#4560ad;
  font-size: 0.6em;
  margin-right: 5px;
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
  font-size: 0.6em;
  padding: 15px;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */